{{>sidebar}}
<div class="admin-container">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-md-12 fw-bold fs-4">Panel de nueva orden</div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Nueva orden
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="phone">Número del cliente</label>
                                <input type="number" name="phone"
                                    class="form-control input-number-validation arrow-number text-center" id="phone"
                                    placeholder="Número telefónico" min="1111111111" max="9999999999" pattern="[0-9]"
                                    required>
                                <div class="form-text">Ingrese el número telefónico de 10 dígitos</div>
                                <small class="text-danger" id="text-muted" hidden>Solo puede ingresar
                                    números</small>
                            </div>
                            <div class="col-md customer-card-table" hidden>
                                <div id="customer-card"></div>
                            </div>
                            <div class="col-md-2 customer-card-table" hidden>
                                <a class="btn btn-primary" id="clean-customer">Quitar</a>
                            </div>
                        </div>

                        <div class="order-table customer-card-table" hidden>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <hr class="dropdown-divider">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <h5 class="card-title">Orden del cliente</h5>
                                </div>
                            </div>


                            <div class="row mb-3 align-items-end">
                                <div class="col-md-3">
                                    <label for="id-product">Código del platillo</label>
                                    <input type="number" name="id-product"
                                        class="form-control input-number-validation text-center arrow-number"
                                        id="id-product" pattern="[0-9]" required>
                                    <small class="text-danger" id="text-muted" hidden>Solo puede ingresar
                                        números</small>
                                </div>

                                <div class="col-md-2 text-center">
                                    <a id="btn-id-product" class="btn btn-primary">Agregar</a>
                                </div>
                                <div class="col-md-7">
                                    <div class="card">
                                        <div class="card-header">
                                            Total de la orden
                                        </div>
                                        <div class="card-body">
                                            <div class="d-flex justify-content-center">
                                                <h3 class="card-title">
                                                    <div id="totalCart">$ 0</div>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="row mb-3">
                                    <form id="form">
                                        <table class="table table-hover align-middle">
                                            <thead>
                                                <tr class="text-center">
                                                    <th>ID</th>
                                                    <th>Imagen</th>
                                                    <th>Nombre</th>
                                                    <th>Precio</th>
                                                    <th>Cantidad</th>
                                                    <th>X</th>
                                                </tr>
                                            </thead>
                                            <tbody id="product-list"></tbody>
                                        </table>
                                        <div class="col-md-12">
                                            <button class="btn btn-primary" type="submit">Procesar la orden</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/orders/newOrder.js"></script>