{{>sidebar}}
<div class="admin-container">
    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-md-12 fw-bold fs-3">Dashboard</div>
        </div>
    </div>
</div>